<html>
    <head>
        <title>
            <%= title %>
        </title>
    </head>
    <body>
        <h1>Contact List</h1>

        <ul>
            <% for(let i of contactList) { %>
                <li>
                    <p><%= i.name %></p>
                    <p><%= i.phoneNo %></p>
                </li>
            <% } %>
        </ul>

        <form action="/add-user" method="POST">
            <input type="text" name="name" placeholder="Enter name" />
            <input type="number" name="phoneNo" placeholder="Enter Phone NUmber" />
            <input type="submit" value="Add">
        </form>
    </body>
</html>
